<style>
    body{
        padding-top: 40px;;
    }
</style>
<div class="navbar {{ setting.class }}">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-ng-if="setting.brand" class="brand" data-ng-href="{{ setting.link('brand', setting.brand) }}">{{ setting.brand }}</a>
            <ul data-ng-repeat="item in setting.menu" class="nav">
                <li class="dropdown">
                    <a data-ng-if="item.page == ''" href="javascript:;" data-ng-click="menu.submenu = menu.submenu == item.id ? '' : item.id;" data-toggle="dropdown">
                        {{ item.label }}
                        <b class="caret"></b>
                    </a>
                    <a data-ng-if="item.page != ''" data-ng-click="menu.submenu = ''" data-ng-href="{{ setting.link('menu', item) }}">
                        {{ item.label }}
                    </a>

                    <ul data-ng-show="menu.submenu.indexOf(item.id) == 0" data-ng-if="item.submenu.length > 0" class="dropdown-menu">
                        <li data-ng-class="{true: 'dropdown-submenu', false: ''}[item2.submenu.length > 0]" data-ng-repeat="item2 in item.submenu">
                            <a data-ng-if="item2.page == ''" data-ng-click="menu.submenu = menu.submenu == item.id ? item2.id : item.id" href="javascript:;">
                                {{ item2.label }}
                            </a>
                            <a data-ng-if="item2.page != ''" data-ng-click="menu.submenu = ''" data-ng-href="{{ setting.link('menu', item) }}">
                                {{ item2.label }}
                            </a>

                            <ul data-ng-show="menu.submenu.indexOf(item2.id) == 0" data-ng-if="item2.submenu.length > 0" class="dropdown-menu">
                                <li data-ng-class="{true: 'dropdown-submenu', false: ''}[item3.submenu.length > 0]" data-ng-repeat="item3 in item2.submenu">
                                    <a data-ng-if="item3.page == ''" data-ng-click="menu.submenu = menu.submenu == item2.id ? item3.id : item2.id" href="javascript:;">
                                        {{ item3.label }}
                                    </a>
                                    <a data-ng-if="item3.page != ''" data-ng-click="menu.submenu = ''" data-ng-href="{{ setting.link('menu', item) }}">
                                        {{ item3.label }}
                                    </a>

                                    <ul data-ng-show="menu.submenu.indexOf(item3.id) == 0" data-ng-if="item3.submenu.length > 0" class="dropdown-menu">
                                        <li data-ng-class="{true: 'dropdown-submenu', false: ''}[item4.submenu.length > 0]" data-ng-repeat="item4 in item3.submenu">
                                            <a data-ng-click="menu.submenu = ''" data-ng-href="{{ setting.link('menu', item) }}">
                                                {{ item4.label }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="opacity: 0; z-index: 999; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; filter: alpha(opacity=0);" data-ng-show="menu.submenu != ''" data-ng-click="menu.submenu = ''" class="modal-backdrop fade in"></div>