input(type="file", id="{{ setting.elementid }}", name="{{ setting.elementid }}", accept="{{ setting.accept }}", class="{{ setting.class }}", onchange="angular.element(this).scope().setting.onchange(this)", data-ng-style="setting.style", data-ng-required="setting.required", data-ng-disabled="setting.disabled", data-ng-show="setting.show")
