<style data-ng-if="!setting.wireframe">
    .show-grid{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .show-grid [class*="span"] {
        background-color: transparent !important;
        text-align: left !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        min-height: 0 !important;
        line-height: 0 !important;
    }
</style>
<div id="{{ elementid }}" data-ng-transclude></div>