div(data-alt-collapse="false")
    div(data-alt-accordion="{}", data-title="Pencarian")
        div(class="row")
            div(data-ng-transclude, class="span10")
            div(class="span2")
                div(data-alt-button="filterbtn", data-ng-if="!setting.autofilter")
                div(data-alt-button="resetbtn")